    <div class="container">
    <%= link_to "my recipes", "", class: "btn btn-large btn-success", id: "logo" %>
    <div class="nav_item">
      <%= link_to "link1","", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav_item">
      <%= link_to "link1","", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav_item">
      <%= link_to "link1","", class: "btn btn-default btn-warning" %>
    </div>
    </div>
  </div>
